@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

.letter-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust shadow properties as needed */
}

.box-shadow-sm {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.box-shadow-lg {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.box-shadow-xl {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
}

.focus-element {
  @apply focus:outline-none focus:ring focus:ring-violet-600;
}

@layer utilities {
  .head-height {
    @apply;
  }
}
